h1 {
  margin: 0;
  font-size: 2em;
  text-align:center;
}

.App {
  background-color: #333;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 0 1em;
  font-size: 1em;
}

.App-main {
  min-height: 80vh;
  max-width: 740px;
  margin: auto;
  padding: 0 1em;
}

.App-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.header-wrapper {
  margin: 1em 3em;
}

.footer-wrapper {
  margin: 10px 50px;
}

.item-wrapper {
  margin: 10px;
  padding: 10px;
}

.groupName-wrapper {
  margin: 10px;
  padding: 10px;
}

.groupItems-wrapper {
  margin: 10px 30px;
  padding: 0px 10px 10px 10px;
}

.groupItem-wrapper {
  margin: 10px;
  padding: 10px;
}

.item:not(:last) {
  margin-bottom: 10px;
}

.score-box {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky; 
  z-index: 1;
  top: 20px;
}

.button-item-delete,
.button-groupItem-add {
  float: right;
}

.button-menu-add-root {
  margin: 10px;
}

.itemScore {
  float: right;
  width: 8em;
}

.divider-itemScore {
  margin: 0;
  padding: 4px 0px 7px 0px;
  height: 32px 0;
  width: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outside-spin-button {
  display: none;
}

.input-itemName, .input-groupName {
  width: 10em;
}

.input-itemScore {
    width: 3em;
    margin-right: 0.25em;
}

.input-itemScoreMax {
  width: 3em;
  margin-left: 0.25em;
}

.input-itemWeight, .input-groupWeight {
  width: 3.25em;
  margin-right: 0.25em;
}

@media (max-width: 550px) {
  h1 {
    font-size: 2em;
  }

  .App-header {
    padding-top: 1em;
  }

  .item-wrapper,
  .groupItem-wrapper {
    height: 64px;
  }

  .itemScore,
  .button-groupItem-add {
    float: left;
  }

  .groupName-wrapper {
    height: 64px;
  }

}